@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededed;
  --sidebar-background: #ebebeb;
  --primary: #384846;
}

.dark {
  --background: #2c2c2c;
  --sidebar-background: #1a1a1a;
}
  
@theme inline {
  --color-background: var(--background);
  --color-sidebar-background: var(--sidebar-background);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jersey-10: var(--font-jersey-10);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
